@model IEnumerable<Bookings>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Booking List</h1>
<div class="col text-end pt-1">
    <a asp-controller="Booking" asp-action="CreatePage" class="btn btn-outline-primary">Create New Booking</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfTickets)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTickets)
            </td>
                <td>
                    <a type="button" class="btn btn-warning" asp-action="editpage" asp-route-id="@item.Id" asp-controller="Event">Edit</a>

                    <a type="button" class="btn btn-danger" asp-action="Deletebyid" asp-route-id="@item.Id" asp-controller="Event">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
