
@model EventsVM

<tr>
    <td>@Model.Id</td>
    <td>@Model.EventName</td>
    <td>@Model.EventDescription</td>
    <td>@Model.EventDate</td>
    <td>@Model.Location</td>
    <td>@Model.AvailableSeats</td>
</tr>
